@charset "utf-8";

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'OTWelcomeRA';
}
a {
  text-decoration-line: none;
  color: inherit;
}
button {
  border: 0px;
  background-color: transparent;
  font-size:15px;
  font-family: 'OTWelcomeRA';
  line-height: 1.5;
}
textarea {
  resize: none;
  height: 200px;
  width: 467px;
  border: 0px;
}
button#form {
  height:100%;
  width:100%;
  border: 0px;
  background-color: transparent;
  font-size:15px;
  font-family: 'OTWelcomeRA';
  line-height: 1.5;
  color:white;
  font-size: 25px;
}
input[type='file'] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip:rect(0,0,0,0);
  border: 0;
}
option {
  font-family: 'OTWelcomeRA';
  line-height: 1.5;
}
img#preview {
  height:150px;
  width: 150px;
}
img#cart {
  height:200px;
  width: 200px;
}
img#previewC {
  height:200px;
  width: 200px;
}
img#productpg {
  height:560px;
  width: 560px;
}
img#ad {
  width: 980px;
}
input[type='button'] {
  border: 0px;
  background-color: transparent;
  font-size: 20px;
}
.text {
  border: none;
  background-color: transparent;
  font-size: 20px;
}
.text2 {
  border: none;
  background-color: transparent;
  font-size: 17px;
}
.text::placeholder {
  font-family: 'OTWelcomeRA';
  line-height: 1.5;
}
.outerDiv {
  width: 980px;
  height: auto;
  margin: 0 auto;
}
.leftDiv {
  width: 560px;
  height: 560px;
  padding: 20px;
  display: inline-block;
  float:left;
}
.rightDiv {
  width: 380px;
  height: auto;
  display: inline-block;
  float:left;
}
.top {
  width: 980px;
  margin: 0 auto;
  height: 120px;
}
.bottom {
  width: 980px;
  margin: 0 auto;
  margin-top: 30px;
  background-color: black;
  color: white;
}
.banner {
  padding: 50px;
  background-color: black;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
}
.adContainer {
  width: 980px;
  height: auto;
}
.itemList1R {
  width: 980px;
  height: 300px;
  background-color: lightgray;
}
.itemList {
  padding: 10px;
  margin: 10px;
  width: 200px;
  display: inline-block;
  background-color: cyan;
}
.listWrap {
  width: 980px;
  height: auto;
  padding-top: 10px;
}
.listCol {
  display: inline-block;
  margin: 20px;
  width: 200px;
  height: 260px;
  overflow: hidden;
}
.dupCheck {
  width:auto;
  height:auto;
  padding: 21px;
  color:white;
  background-color: black;
  display: inline-block;
  float:right;
}
.inputList {
  padding: 10px;
  padding-bottom: 0px;
  width: 380px;
}
.inputList2 {
  width: 350px;
  display: inline-block;
}
.input {
  padding: 8px;
  padding-top: 0px;
}
.select {
  line-height: 1.5;
  font-size: 15px;
  padding: 5px 10px;
  font-family: 'OTWelcomeRA';
  border-radius: 0px;
  border: 0px;
  -moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
}
.imageContainer {
  width: 150px;
  height: 150px;
  display: inline-block;
  float: left;
}
.cartImageContainer {
  width: 200px;
  height: 200px;
  display: inline-block;
  float: left;
}
.submit {
  width: 490px;
  height: auto;
  padding-top: 10px;
  text-align: center;
  background-color: black;
  color: white;
}
.popUpBanner {
  width:100%;
  padding:20px;
  background-color:black;
  color:white;
  font-size:20px;
}
.submitButton {
  width:160px;
  height: 60px;
  background-color:black;
  color:white;
  text-align:center;
}
.submitButton2 {
  padding: 20px;
  font-size: 20px;
  background-color:black;
  color:white;
  text-align:center;
}
.Div05W {
  width: 490px;
  height: auto;
  padding: 4px;
  margin: 0 auto;
  font-size: 20px;
  border: 4px solid black
}
.Div100LB {
  width: 940px;
  padding: 20px;
  text-align: left;
  font-size: 25px;
  border-top: 4px solid black;
}
.Div60LB {
  width: 950px;
  padding: 15px;
  text-align: left;
  font-size: 20px;
  border-top: 4px solid black;
}
.Div60W {
  width: 980px;
  height: 60px;
}
.Div60C {
  width: 940px;
  padding: 20px;
  height: 20px;
  text-align: center;
}
.Div60R {
  width: 940px;
  padding: 20px;
  height: 20px;
  text-align: right;
}
.Div60L {
  width: 920px;
  padding: 20px;
  height: 20px;
  text-align: left;
}
.Div100W {
  width: 980px;
  height: 100px;
}
.Div150W {
  width: 980px;
  height: 150px;
}
.Div200W {
  width: 980px;
  height: 200px;
}
.Div140L {
  width: 930px;
  padding: 30px;
  height: 100px;
  text-align: left;
  background-color: white;
  color: black;
}
.menuNav38-8 {
  text-align: left;
  padding: 20px;
  disply: inline-block;
  width: 340px;
  float: left;
}
.menuNav20-6 {
  text-align: center;
  padding: 20px;
  disply: inline-block;
  width: 160px;
  height: 20px;
  float: left;
}
.menuNav30-6 {
  text-align: center;
  padding: 20px;
  disply: inline-block;
  width: 260px;
  height: 20px;
  float: left;
}
.menuNav15-6 {
  text-align: center;
  padding: 20px;
  disply: inline-block;
  width: 110px;
  height: 20px;
  float: left;
}
.menuNav11-6 {
  text-align: center;
  padding: 20px;
  disply: inline-block;
  width: 70px;
  height: 20px;
  float: left;
}
.menuNav20-15 {
  text-align: center;
  padding: 20px;
  padding-top: 65px;
  disply: inline-block;
  width: 160px;
  height: 45px;
  float: left;
}
.menuNav15-15 {
  text-align: center;
  padding: 20px;
  padding-top: 65px;
  disply: inline-block;
  width: 110px;
  height: 45px;
  float: left;
}
.menuNav11-15 {
  text-align: center;
  padding: 20px;
  padding-top: 65px;
  disply: inline-block;
  width: 70px;
  height: 45px;
  float: left;
}
.menuNav20-20 {
  text-align: center;
  padding: 20px;
  padding-top: 65px;
  disply: inline-block;
  width: 160px;
  height: 95px;
  float: left;
}
.menuNav15-20 {
  text-align: center;
  padding: 20px;
  padding-top: 65px;
  disply: inline-block;
  width: 110px;
  height: 95px;
  float: left;
}
.menuNav11-20 {
  text-align: center;
  padding: 20px;
  padding-top: 65px;
  disply: inline-block;
  width: 70px;
  height: 95px;
  float: left;
}
.menuNav8-6 {
  text-align: center;
  padding: 20px;
  disply: inline-block;
  width: 40px;
  height: 20px;
  float: left;
}
.logo {
  padding: 20px;
  disply: inline-block;
  float: left;
  width: auto;
}
.search {
  padding: 20px;
  display: inline-block;
  float: right;
}
.service {
  padding: 20px;
  width: 980px;
}
.contact {
  padding: 10px;
  width: 980px;
}
.copyright {
  padding: 10px;
  width: 980px;
}
.detailWrap {
  width: 920px;
  padding: 30px;
  text-align: left;
  font-size: 20px;
  border-top: 4px solid black;
  margin: 0 auto;
}
@font-face {
  font-family: "OTWelcomeRA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/OTWelcomeRA.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
